@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400&display=swap');

h1 {
  font-family: Mukta Vaani, sans-serif;
  color: #e7e7de;
  font-size: 60px;
  margin: 0;
}

p {
  color: #e7e7de;
  font-size: 20px;
  font-family: Hind Madurai, sans-serif;
  margin: 0;
}
